.list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
h1{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 100px;
}
li{
    padding: 0 80px;
    font-size: 40px;
}

/* ------------------Second -section------------- */
.main-card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 200px 70px;
    margin-right: 20px;
}
.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1d1e33;
    width: 80%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.First-card{
    border: 1px solid white;
    height: 600px;
    width: 500px;
    justify-content: center;
    text-align: center;
    margin: 100px 50px;
}
.Second-card{
    margin-top: 150px;
    border: 1px solid white;
    height: 600px;
    width: 500px;
    justify-content: center;
    text-align: center;
    margin: 100px 50px;
}
h2{
    font-size: 50px;
    margin: 50px;
}
p{
    font-size: 90px;
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    border: 1px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 50px 40px;
    font-size: 80px;
    text-align: center;
    justify-content: center;
}

/* -------------------Last section------------- */
.Last-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1d1e33;
    margin: 200px;
}
h3{
    font-size: 60px;
    background-color: #1d1e33;
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}
p1{
    font-size: 150px;
    background-color: #1d1e33;  
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
}



/* --------------------Media Queries-------------------- */

/* @media screen and (max-width:600px){
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width:600px){
    .imgElement{
        height: 60px;
        background-size: cover;
    }
}
@media screen and (min-width:720px){
    .imgElement{
        height: 70px;
        background-size: cover;
    }
} */
